@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("sign.jpg");
    background-position: center;
    background-size: cover;
}

.sidebar .logo h2 {
    color: #000;
}

.sidebar .logo h2:hover {
    color: rgba(22, 22, 22, 0.8);
    cursor: pointer;
}

.sidebar {
    position: fixed;
    padding: 0 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 15px 15px;
}

.close-btn {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    cursor: pointer;
}

.sidebar:hover {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 260px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 2.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar .links::-webkit-scrollbar {
    height: 8px;
    /* Adjust height for horizontal scrollbar */
}

.sidebar .links::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
}

.sidebar .links::-webkit-scrollbar-track {
    background-color: transparent;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
    padding-left: 10px;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

@media only screen and (max-width: 770px) {
    .sidebar {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    .sidebar.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(255, 255, 255, 0.7);
        transition: all 0.3s ease;
    }

    .close-btn {
        display: none;
    }

    .sidebar {
        padding: 15px;
    }

    .sidebar .logo {
        display: none;
    }

    .logo img {
        display: none;
    }

    .logo h2 {
        font-size: 1.5rem;
    }

    .links li a {
        padding: 8px;
        font-size: 0.9rem;
    }
}